body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.home-container {
  text-align: center;
  padding: 50px 20px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 50px;
  color: #333;
}

.buttons-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.home-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-size: 1.2rem;
  transition: transform 0.2s, background-color 0.2s;
}

.home-button i {
  font-size: 3rem;
  margin-bottom: 15px;
}

.home-button:hover {
  transform: translateY(-5px);
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 700px) {
  .buttons-grid {
    flex-direction: column;
    gap: 20px;
  }
}

.home-button.prescripciones {
  background-color: #28a745; /* verde para prescripciones */
}

.home-button.prescripciones:hover {
  background-color: #1e7e34;
}
